<div class="title-bar ten columns">
  <div class="alignleft"><strong> Edit Saved Roll </strong></div>
  <div class="alignright"><strong> ^Notes </strong></div>
  <div class="clear"></div>
</div>

<div class="message-box ten columns">
  
</div>
