@charset "UTF-8";
/*


 */
/*
 - Grid
 - Base Styles
 - Typography
 - Links
 - Buttons
 - Forms
 - Lists
 - Code
 - Tables
 - Spacing
 - Utilities
 - Clearing
 - Media Queries
 */
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 28, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* line 35, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  /* line 43, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .container {
    width: 85%;
    padding: 0;
  }
}
/* For devices larger than 550px */
@media (min-width: 550px) {
  /* line 50, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .container {
    width: 80%;
  }

  /* line 55, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  /* line 59, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  /* line 61, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .two.columns {
    width: 13.3333333333%;
  }

  /* line 62, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .three.columns {
    width: 22%;
  }

  /* line 63, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .four.columns {
    width: 30.6666666667%;
  }

  /* line 64, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .five.columns {
    width: 39.3333333333%;
  }

  /* line 65, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .six.columns {
    width: 48%;
  }

  /* line 66, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .seven.columns {
    width: 56.6666666667%;
  }

  /* line 67, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .eight.columns {
    width: 65.3333333333%;
  }

  /* line 68, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .nine.columns {
    width: 74.0%;
  }

  /* line 69, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .ten.columns {
    width: 82.6666666667%;
  }

  /* line 70, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .eleven.columns {
    width: 91.3333333333%;
  }

  /* line 71, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  /* line 73, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .one-third.column {
    width: 30.6666666667%;
  }

  /* line 74, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .two-thirds.column {
    width: 65.3333333333%;
  }

  /* line 76, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  /* line 79, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  /* line 81, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  /* line 83, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  /* line 85, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  /* line 87, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  /* line 89, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  /* line 91, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  /* line 93, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  /* line 95, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  /* line 97, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  /* line 99, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  /* line 102, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  /* line 104, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  /* line 107, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
/* line 118, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
html {
  font-size: 62.5%;
}

/* line 120, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
body {
  height: 100vh;
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Indie Flower', cursive;
  color: #fff;
}

/* line 130, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
body:before {
  background-image: url("play_mat.png");
  background-size: cover;
  pointer-events: none;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  position: fixed;
  z-index: 2;
  font-size: 16pt;
}

/* line 144, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
strong {
  font-family: 'Permanent Marker', cursive;
  font-size: 18pt;
  color: #990000;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 153, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

/* line 157, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

/* line 158, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

/* line 159, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

/* line 160, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

/* line 161, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

/* line 162, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  /* line 166, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  h1 {
    font-size: 5.0rem;
  }

  /* line 167, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  h2 {
    font-size: 4.2rem;
  }

  /* line 168, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  h3 {
    font-size: 3.6rem;
  }

  /* line 169, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  h4 {
    font-size: 3.0rem;
  }

  /* line 170, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  h5 {
    font-size: 2.4rem;
  }

  /* line 171, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
  h6 {
    font-size: 1.5rem;
  }
}
/* line 174, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 180, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
a {
  color: #1EAEDB;
}

/* line 182, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
a:hover {
  color: #0FA0CE;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 188, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

/* line 210, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

/* line 223, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
}

/* line 231, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 248, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
/* line 265, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 276, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* line 280, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0;
}

/* line 291, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

/* line 296, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
fieldset {
  padding: 0;
  border-width: 0;
}

/* line 299, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
input[type="radio"] {
  display: inline;
}

/* line 301, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 309, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
ul {
  list-style: none;
}

/* line 311, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
ol {
  list-style: decimal inside;
}

/* line 313, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
ol, ul {
  padding-left: 0;
  margin-top: 0;
}

/* line 316, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

/* line 322, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
li {
  margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 328, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

/* line 336, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 344, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

/* line 349, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
th:first-child,
td:first-child {
  padding-left: 0;
}

/* line 352, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
th:last-child,
td:last-child {
  padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 359, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
button,
.button {
  margin-bottom: 1rem;
}

/* line 362, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

/* line 367, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 381, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

/* line 384, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

/* line 387, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.u-pull-right {
  float: right;
}

/* line 389, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.u-pull-left {
  float: left;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 395, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
/* line 406, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* line 438, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
html, body {
  height: 100vh;
}

/* line 441, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.navbar {
  height: 10vh;
  width: 100vw;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
  margin: 0;
}

/* line 450, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 300;
}

/* line 458, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
li {
  list-style: none;
}

/* line 461, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
label {
  cursor: pointer;
}

/* line 464, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
label:focus {
  outline: none;
}

/* line 467, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("navbar3.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  min-width: 100vw;
  height: 150px;
  transform: translate3d(0, -55px, 0);
  transition: transform 0.35s;
  pointer-events: auto;
  color: black;
}

/* line 482, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu label.menu-toggle {
  position: fixed;
  right: 80px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  pointer-events: auto;
  font-size: 20px;
}

/* line 493, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu label.menu-title {
  font-size: 20px;
}

/* line 496, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu ul {
  list-style: none;
  padding-left: 50px;
}

/* line 500, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu ul li a, .menu ul li label {
  padding-left: 40px;
  line-height: 60px;
  text-decoration: none;
  color: #000;
}

/* line 506, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu ul li a:hover, .menu ul li label:hover {
  color: #665;
}

/* hide inputs */
/* line 510, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu-checkbox {
  display: none;
}

/* fade in checked menu */
/* line 512, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, -5px, 0);
}

/* line 515, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.menu .pull-tab {
  width: 80vw;
  margin: auto;
}

/* line 519, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.sidebar-left {
  height: 90vh;
  position: fixed;
  left: 0px;
  top: 10vh;
  padding: 0;
  background-color: #ddd;
  z-index: 4;
}

/* line 528, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.view-port {
  position: absolute;
  background-color: #eee;
  left: 14.3vw;
  right: 0;
  z-index: 2;
  padding: 0;
  margin: 0;
}

/* line 537, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.title-bar {
  height: 5vh;
  position: fixed;
  top: 10vh;
  width: 100%;
  color: #000;
  z-index: 4;
}

/* line 545, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.messages {
  position: relative;
}

/* line 548, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.message-box, .IndexPage {
  position: absolute;
  top: 15vh;
  margin-left: 2%;
  margin-bottom: 6vh;
}

/* line 554, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.message {
  font-size: 16pt;
  color: #000066;
}

/* line 558, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.message-form-box {
  height: 6vh;
  bottom: 0vh;
  width: 70%;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* line 565, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.message-form-box input[type="text"] {
  width: 70%;
  height: 10vh;
  border: none;
  background-color: transparent;
  font-family: 'Indie Flower', cursive;
  padding: 6px 0px 6px 25px;
  font-size: 16pt;
  color: #000066;
}

/* line 575, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.dice-box {
  position: fixed;
  right: 0px;
  bottom: 0vh;
  height: 79vh;
  margin: 0;
  display: inline-block;
  min-width: 18vh;
}

/* line 584, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.dice-box input[type="radio"] {
  display: none;
}

/* line 587, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.dice-box input[type="select"] {
  display: none;
}

/* line 590, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.dice-box label {
  display: inline-block;
}

/* line 593, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.dice-box input[type="text"] {
  width: 6vw;
  border: none;
  background-color: transparent;
  font-family: 'Indie Flower', cursive;
  color: #000066;
  font-size: 14pt;
  padding: 6px 0px 6px 25px;
  display: inline-block;
}

/* line 604, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.dice-box img {
  max-width: 8vh;
  max-height: 8vh;
  display: inline-block;
}

/* line 609, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.dice-box input[type="submit"] {
  width: 16vw;
  height: 60px;
  border: none;
  background-color: transparent;
  font-family: 'Indie Flower', cursive;
  background-image: url("scrap-paper.png");
  background-repeat: no-repeat;
  text-align: left;
}

/* line 619, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.alignleft {
  float: left;
}

/* line 622, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.alignright {
  float: right;
}

/* line 625, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.clear {
  clear: both;
}

/* line 628, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.favorite-dice-box {
  margin-left: 10px;
}

/* line 631, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.favorite-dice-box img {
  width: 8vh;
  float: left;
}

/* line 635, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.favorite-dice-box label {
  display: inline-block;
}

/* line 638, /Users/twilson.spqr/challenges/launch-breakable-toy/dice-roller/app/assets/stylesheets/application.scss */
.scrap {
  background: transparent;
}
