<div class="title-bar ten columns">
</div>

<div class="message-box twelve columns">
  <% if user_signed_in? %>
    <div class="twelve columns">
      <%= link_to 'New Table', new_table_path %>
    </div>

    <div class="twelve columns">
      <%= react_component("IndexPage", props: { tables: @tables}, prerender: false) %>
    </div>
  <% else %>
    <div class="login-request">
      <h5>Salutations!  Please take a moment to sign in.</h5>
    </div>
  <% end %>
</div>
